.calculator-container {
  max-width: 260px;
  margin: auto;
  margin-top: 9vh;
  background-color: #2a354b;
  padding: 1rem;
  border-radius: 15px;
}

.bottom-container {
  display: grid;
  margin-top: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}
