.calculator-container {
  max-width: 300px;
  margin: auto;
  margin-top: 9vh;
  box-shadow: 0px 0px 4px black;
  padding: 1rem;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}

.bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
  gap: 8px;
}

.keypad-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

.operations-container {
  display: grid;
  gap: 4px;
}

.calculator-container button {
  font-size: 1.2rem;
  transition: all 0.25s ease-out;
}

.calculator-container button > span {
  pointer-events: none;
}

.calculator-container button:hover {
  filter: brightness(85%);
}

.operations-container > button:last-of-type {
  background-color: #08b958;
}

.data-display p {
  padding: 6px 0;
  font-size: 2rem;
  text-align-last: end;
}

.data-display {
  overflow-wrap: break-word;
  border-bottom: 2px solid #bdbbbba8;
}
